[submodule "front-end-tetris"]
	path = front-end-tetris
	url = https://github.com/paul-antal/front-end-tetris
[submodule "mysteries-of-the-css-display"]
	path = mysteries-of-the-css-display
	url = https://github.com/paul-antal/mysteries-of-the-css-display
