[submodule "front-end-tetris"]
	path = front-end-tetris
	url = https://github.com/paul-antal/front-end-tetris
[submodule "mysteries-of-the-css-display"]
	path = mysteries-of-the-css-display
	url = https://github.com/paul-antal/mysteries-of-the-css-display
[submodule "mike-s-puzzle-copy"]
	path = mike-s-puzzle-copy
	url = https://github.com/paul-antal/mike-s-puzzle-copy.git
[submodule "basic-scoreboard"]
	path = basic-scoreboard
	url = https://github.com/paul-antal/basic-scoreboard.git
[submodule "GameTimer"]
	path = GameTimer
	url = https://github.com/paul-antal/GameTimer.git
